<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
    </head>
    <body>
        <header>
                <div><h1>Machine learning application with flask</h1></div>
        </header>

        <div>
            <h2>Predict diabete analysis</h2>

            <form action="{{url_for('predict')}}" method="post">

                <input type="text" name="Pregnancies" placeholder="Pregnancies" required="required">

                <input type="text" name="Glucose" placeholder="Glucose" required="required">

                <input type="text" name="BloodPressure" placeholder="BloodPressure" required="required">

                <input type="text" name="Skin Thicness" placeholder="Skin Thickness" required="required">

                <input type="text" name="Insulin" placeholder="Insulin" required="required">

                <input type="text" name="BMI" placeholder="BMI" required="required">

                <input type="text" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction" required="required">

                <input type="text" name="Age" placeholder="Age" required="required">
                <button type="submit"> Predict </button> 
            </form>
            <br>
            <br>
            {% if prediction == 1%}
            <h3 style="color: red";>Positive (Diabete)</h3>
            {% elif prediction == 0%}
            <h3 style="color: blue";>Negative (Not Diabete)</h3>
            {% endif %}
        </div>

    </body>
</html>